[submodule "NLayer"]
	path = NLayer
	url = https://github.com/naudio/NLayer.git
[submodule "NKHook6/NKHook6/Dependencies/NLayer"]
	path = NKHook6/NKHook6/Dependencies/NLayer
	url = https://github.com/naudio/NLayer.git
