
NKHook6/.vs/NKHook6/v16/.suo
*.dll
*.pdb
*.cache
*.CopyComplete
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.p7s
packages/
bin/
*.force
references/
obj/
NKHook6/NKHook6/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NKHook6/NKHook6/obj/Debug/NKHook6.csproj.FileListAbsolute.txt
NKHook6/NKHook6/Api/Utilities/FileUtils.cs
NKHook6/NKHook6/Api/Utilities/FileUtils.cs
